<div class="cart-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Image Column -->
    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let element" class="image-cell">
        <img [src]="element.photo" alt="Product Image" class="product-image">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ProductName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Add to Basket Column -->
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef> Add to Basket </th>
      <td mat-cell *matCellDef="let element" class="button-cell">
        <button mat-button (click)="AddToCart(element)" class="add-to-cart-button" aria-label="Add to basket">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Buy Button Column -->
    <ng-container matColumnDef="Buybutton">
      <th mat-header-cell *matHeaderCellDef> Buy </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button class="buy-button" aria-label="Buy now" (click)="BuyNow(element)">Buy now</button>
      </td>
    </ng-container>

    <!-- Delete Button Column -->
    <ng-container matColumnDef="DeleteButton">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-fab aria-label="Delete product" class="delete-button" (click)="DeleteFavProduct(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
