<div class="menycontainer" >
    <div class="menysmallcontainer">
      <div class="icon-container"><i class="fa fa-users"></i></div>
      <h3>2500</h3>
      <p>Welcome</p>
    </div>
    <div class="menysmallcontainer">
      <div class="icon-container"><i class="fa fa-clock"></i></div>
      <h3>123.50</h3>
      <p>Average Time</p>
    </div>
    <div class="menysmallcontainer">
      <div class="icon-container"><i class="fa fa-cloud-download"></i></div>
      <h3>1,805</h3>
      <p>Orders</p>
    </div>
    <div class="menysmallcontainer">
      <div class="icon-container"><i class="fa fa-comments"></i></div>
      <h3>54</h3>''
      <p>Comments</p>
    </div>
  </div>
  
  <div class="graphics-conteiner" >
    <h2 style="text-align: left; font-size: 24px; color: #343a40; font-weight: 600; margin-bottom: 15px;padding: 10px;">Graphics Data</h2>
    <hr>
    <div class="pie-graphic">
    <app-pie-chart></app-pie-chart>
      
        
    <app-app-monthly-orders-chart></app-app-monthly-orders-chart>

      
    </div>
  </div>

